.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: #ffffff;
  .container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    .logo {
      font-size: 34px;
      font-weight: bold;
      .text {
      }
      .dot {
        color: #1dbf73;
      }
    }
    .links {
      display: flex;
      gap: 24px;
      align-items: center;
      font-weight: 500;
      font-family: Montserrat, sans-serif;
      button {
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        cursor: pointer;
        background-color: transparent;
        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid lightgray;
  }
  .menu {
    display: flex;
    width: 1400px;
    padding: 10px 0px;
    justify-content: space-between;
    font-weight: 300;
    color: gray;
    font-family: Montserrat, sans-serif;
  }
}
